.table__cell {
  font-size: 1.1875rem;
  padding: 5px;
}

.table__cell:last-child {
  border-right: none;  
}

.fixed-table-container {
  background-color: white;
  border: 1px solid black;
  height: 600px;
  margin: 10px auto;
  padding-top: 30px;
  position: relative;
  width: 100%;
}

.table-container {
  margin-bottom: 30px;
  max-height: 600px;
  min-height: 50px;
  overflow-x: auto;
  overflow-y: auto;
}

.table-items {
  font-size: 16px;
  margin-bottom: 0px;
}
